/data.json
/data_players.json
/data_base_tournament.json
/Décomposition spécification technique.txt
/MENTORAT 26 SEPTEMBRE.txt
/MENTORAT 17 OCTOBRE.txt
/venv
*.pyc
/MENTORAT 10 OCTOBRE.txt
/data_base_players.json